/* VARIABLES */
:root {
  --Green900: hsl(183, 100%, 15%);
  --Grey500: hsl(186, 14%, 43%);
  --Grey400: hsl(184, 14%, 56%);
  --Grey200: hsl(185, 41%, 84%);
  --Grey50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);

  --Green400: hsl(172, 67%, 45%);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  flex-direction: column;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  font-family: "Space mono", sans-serif;
  background-color: var(--Grey200);
}

/* -------------------------MAIN------------------------  */

.logo {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Green900);
  letter-spacing: 7px;
}

.logo span {
  display: block;
}

.calculator {
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 420px;
  padding: 40px;
  gap: 60px;
  margin: 0 20px;
  background-color: var(--White);
  border-radius: 15px;
}

.left-side {
  flex: 0 1 51%;
}

.right-side {
  flex: 0 1 49%;
  background-color: var(--Green900);
  border-radius: 15px;
}

/* --------------------LEFT SIDE---------------------- */

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---bill--- */

.bill__display__icon {
  position: absolute;
  left: 10px;
}

.bill__input,
.num-of-people__input {
  width: 100%;
  height: 100%;
  text-align: end;
  font-family: "Space mono";
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Green900);
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  background-color: var(--Grey50);
}

.bill__text,
.select-tip__text,
.num-of-people__text {
  color: var(--Grey500);
  font-weight: 700;
}

.bill__text,
.num-of-people__text {
  margin-bottom: 10px;
}

.select-tip__text {
  margin-bottom: 10px;
}

/* ---buttons---  */

.select-tip__buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-content: space-between;
  gap: 20px;
}

.tip__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Green900);
  color: var(--White);
  border-radius: 3px;
  padding: 6px 0;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Space mono";
}

.custom__input,
.custom__btn {
  width: 100%;
  height: 100%;
  color: var(--Grey400);
  font-weight: 700;
  font-family: "Space mono";
}

.custom__btn {
  font-size: 1.6rem;
  border: none;
}

.custom__input {
  padding-right: 5px;
  text-align: right;
  background-color: var(--Grey50);
  border: none;
  color: var(--Green900);
}

.custom__input:focus {
  outline: 2px solid var(--Green400);
}

/* ---num of people--- */

.num-of-people {
  position: relative;
}

.num-of-people__icon {
  position: absolute;
  left: 10px;
}

.people__error {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0.8rem;
  color: red;
}

/* -------------------RIGHT SIDE ------------------- */

.right-side {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount__heading,
.total__heading {
  color: var(--White);
  font-size: 1rem;
}
.amount__text,
.total__text {
  margin-top: -4px;
  font-size: 0.8rem;
  color: var(--Grey400);
}
.amount__num,
.total__num {
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--Green400);
}

.reset-btn {
  margin: auto auto 0 auto;
  padding: 12px 0;
  border: none;
  border-radius: 3px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.1rem;
}

/* ----------------HELPERS------------------- */

.hidden {
  display: none;
}

.reset {
  cursor: pointer;
}

.reset-empty {
  background-color: #0d686d;
  color: rgba(85, 85, 85, 0.603);
}

.reset-filled {
  background-color: var(--Green400);
  color: var(--Green900);
}
.display {
  position: relative;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 50px;
}

.bill__input::placeholder,
.num-of-people__input::placeholder {
  font-family: "Space mono";
  font-size: 1.2rem;
}

/* ----------------MEDIA QUERIES----------------- */

@media (max-width: 850px) {
  body {
    align-items: center;
    gap: 7px;
  }

  .logo {
    top: 10%;
  }

  .calculator {
    flex-direction: column;
    max-width: 400px;
    height: auto;
  }

  .left-side {
    gap: 30px;
  }

  .select-tip__buttons {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }

  .amount-total {
    margin-bottom: 10px;
  }

  .amount__heading,
  .total__heading {
    color: var(--White);
    font-size: 0.8rem;
  }
  .amount__num,
  .total__num {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Green400);
  }
}
